body{

	background-rgb: (250, 250, 250);
	background-image: url("../images/a2.JPG");
	background-size: 100% 100%
	margin: 0;
	padding: 0;

}


Select {

	property: value;
	property: value;
}
h2{

	color: orange;
	font-weight: 100;
	font-family: Helvetica;
}

h1{

	color: (30, 30, 30);
	font-weight: 100;
	background:;
}

h5{

	font-weight: 100;
	font-family: Helvetica
}